:root {
  --wheat: #f8eded;
  --orange: #ff8225;
  --red: #b43f3f;
  --dark-Blue: #173b45;
  --dark: #0c0c0c;
}

body {
  /* width: 100%; */
  background-color: var(--wheat);
  /* overflow: hidden !important; */
}
/* nav */
.navbar {
  background: rgba(0, 0, 0, 0.7);
}
nav .container .navbar-brand {
  font-size: 1.5vw;
  color: var(--wheat);
  font-family: "Mochiy Pop One", sans-serif;
}

nav .container a:hover {
  color: var(--wheat);
}
nav .container a span {
  color: var(--red);
}
/* end */
/* head section */
.gambar {
  height: 100vh;
  background: url("assets/landing-page-section-img.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.head .row .gambar .txt {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.head .row .gambar .txt span {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 35%;
  box-sizing: border-box;
  color: var(--wheat);
}
.head .row .gambar .txt span h2 {
  font-family: "Dela Gothic One", sans-serif;
}
.head .row .gambar .txt span p {
  font-family: "Zen Maru Gothic", sans-serif;
}
.head .row .gambar .txt span a {
  display: block;
  font-family: "Zen Maru Gothic", sans-serif;
}
/* end */
/* about */
.about {
  height: 100vh;
}
.abt-txt h1 {
  font-family: "Dela Gothic One", sans-serif;
}
.abt-txt p {
  font-family: "Zen Maru Gothic", sans-serif;
}
.gambar1 {
  border-radius: 5px;
  height: 25vh;
  background: url("assets/gambar1.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}
.gambar2 {
  border-radius: 20px;
  height: 20vh;
  background: url("assets/gambar2.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: 0.5s ease;
  background-repeat: no-repeat;
}
.gambar3 {
  border-radius: 20px;
  height: 20vh;
  background: url("assets/gambar3.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: 0.5s ease;
  background-repeat: no-repeat;
}
.gambar4 {
  border-radius: 5px;
  height: 25vh;
  background: url("assets/gambar4.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: 0.5s ease;
  background-repeat: no-repeat;
}
.gambar1:hover {
  filter: grayscale(0.6);
  box-shadow: 6px 5px 1px #0c0c0c;
}
.gambar2:hover {
  box-shadow: 6px 5px 1px #0c0c0c;
  filter: grayscale(0.6);
}
.gambar3:hover {
  box-shadow: 6px 5px 1px #0c0c0c;
  filter: grayscale(0.6);
}
.gambar4:hover {
  box-shadow: 6px 5px 1px #0c0c0c;
  filter: grayscale(0.6);
}
/* end */
/* culture */
.culture {
  height: 100vh;
}

.wrapper .img1 img {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  transition: 0.5s ease-in-out;
}
.content h3 {
  font-family: "Mochiy Pop One", sans-serif;
}
.content p {
  font-family: "Zen Maru Gothic", sans-serif;
}
/* end */
/* footer */
.footer h2 {
  color: var(--wheat);
  background-color: var(--dark);
  font-family: "Mochiy Pop One", sans-serif;
}
/* end */
